.jumbotron {
  padding: 2rem 1rem;
  background-image: url("../images/banner.jpg");
  border-radius: 0.3rem;
  color: red;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  margin-top: 50px;
  margin-bottom: 2rem;
}
body {
  background-color: #fffebf;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #fcd2d2;
  color: red;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-candy {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-footer {
  background-color: #d2f7cd;
}
.btn-candy {
  width: 100%;
  border-radius: 0px;
}
.general-icon {
  padding-right: 10px;
}
/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 2.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
