$yellow: #fffebf;
$red: #fcd2d2;
$green: #d2f7cd;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
  padding: 2rem 1rem;
  background-image: url("../images/banner.jpg");
  border-radius: .3rem;
  color: red;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  @include margenes(50px, 2rem);
}

body {
	background-color: $yellow;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: $red;
	color: red;
	@include margenes(10px, 0px);
}

.card-candy {
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.card-footer {
	background-color: $green;
}

.btn-candy {
	width: 100%;
	border-radius: 0px;
}

.general-icon {
	padding-right: 10px;
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 2.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}